//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 14px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	background: #9b2c60;
	border-radius: 32px;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: #9b2c60e1;
		}
	}
	&._fw {
		width: 100%;
	}
}
